* {
  font-family: 'Montserrat', 'sans-serif';
}

body {
  /*height: 100vh;*/
  /*padding: 0;*/
}

header {
  z-index: 1;
  position: fixed;
  height: 7vh;
  color: #27ae60;
}

main {
  position: absolute;
  top: 7vh;
}

footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 6vh;
}

.screen-height {
  height: 87vh;
}

.footer-background {
  background-color: #27ae60;
}

.product-image {
  height: 8vh;
  width: auto;
}