* {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: rgb(242 201 76 / 10%);
}

header {
    z-index: 1;
    position: fixed;
    height: 7vh;
    color: #0e3b4c;
}

main {
    position: absolute;
    top: 7vh;
}

footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    height: 6vh;
    color: #0e3b4c;

    -webkit-box-shadow: 0 -3px 6px -1px rgb(0 0 0 / 0.1);
    -moz-box-shadow: 0 -3px 6px -1px rgb(0 0 0 / 0.1);
    box-shadow: 0 -3px 6px -1px rgb(0 0 0 / 0.1);
}

.screen-height {
    height: 87vh;
}

.footer-background {
    background-color: rgb(242 201 76);
}

.product-image {
    height: 8vh;
    width: auto;
}